.container {
    display: grid;
    /* grid-template-columns: 200px 200px auto; */
    grid-template-columns: repeat(5, 1fr) auto;
    /* justify-content: center; */
    justify-items: center;
    /* grid-template-rows: repeat(5, 1fr) 600px; */
    row-gap: 10px;
    column-gap: 20px;
}

.box {
    border: 2px solid burlywood;
    padding: 10px;
    margin: 2px;
}