@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.wrap {
    padding: 10px;
    margin: 0 auto;
    height: calc(100vh - 20px);
}

.container {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    height: 100%;
}

.item {
    color: #fff;
    padding: 20px;
    font-family: "Montserrat";
    font-size: calc(1vw + 1em);
}

.a {
    background-color: violet;
}

.b {
    background-color: yellowgreen;
}

.c {
    background-color: royalblue;
}

.d {
    background-color: rebeccapurple;
}