* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 1%;
}

.item {
    border: 2px solid black;
    background-color: cyan;
    padding: 10px;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-1-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.container-1-2 {
    display: flex;
    flex-basis: 100%;
}


#item-1 {
    background-color: pink;
    color: blue;
}

#item-2 {
    background-color: lime;
}

#item-3 {
    background-color: blue;
    color: white;
}