* {
    padding: 0;
    margin: 0;
}

nav>ul {
    display: flex;
}

nav ul>li {
    list-style: none;
    margin: 10px;
    /* transition: all 3s; */
    padding: 0 10px;
}

li a {
    text-decoration: none;
}

nav ul>li:hover {
    background-color: cyan;
    /* width: 70px;
    height: 30px;
    border-radius: 5px; */
    /* font-size: 18px; */
    text-align: center;
    /* transform: scale(1.1); */
}

.dropdown {
    display: none;
    position: absolute;
    background-color: lightblue;
    padding: 0;
    margin: 0;
}

nav>ul>li:hover>ul {
    display: block;
    font-size: 18px;
    padding: 0 20px;
}